* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.clock__container {
  font-size: 2em;
  text-align: center;
  margin: 100px auto 0;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

.clock__time {
  background-color: #b71c1c;
  border-radius: 0.5rem;
  display: inline-block;
  line-height: 1;
  padding: 1.5rem 2rem;
}

.analog-clock__container {
  text-align: center;
}

.analog-clock {
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  box-shadow: inset 2px 4px 16px rgba(0, 0, 0, 0.75),
    20px 20px 30px rgba(0, 0, 0, 0.4), 40px 40px 60px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto Mono', monospace;
  font-size: 4vmin;
  margin: 100px auto 0;
  position: relative;
  width: 50vmin;
  height: 50vmin;
}

.analog-clock::before {
  content: '';
  background-color: #000;
  border-radius: 50%;
  width: 3vmin;
  height: 3vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.analog-clock::after {
  content: '';
  border: 6px solid #fff;
  border-radius: 50%;
  width: 98%;
  height: 98%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.analog-clock__number {
  position: absolute;
  line-height: 1;
  letter-spacing: -2px;
  transform-origin: center;
}

.analog-clock__number:nth-child(1) {
  transform: translate(10vmin, 5vmin);
}

.analog-clock__number:nth-child(2) {
  transform: translate(17vmin, 12vmin);
}

.analog-clock__number:nth-child(3) {
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.analog-clock__number:nth-child(4) {
  transform: translate(16vmin, 32vmin);
}

.analog-clock__number:nth-child(5) {
  transform: translate(10vmin, 39vmin);
}

.analog-clock__number:nth-child(6) {
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
}

.analog-clock__number:nth-child(7) {
  transform: translate(-12vmin, 39vmin);
}

.analog-clock__number:nth-child(8) {
  transform: translate(-19vmin, 32vmin);
}

.analog-clock__number:nth-child(9) {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.analog-clock__number:nth-child(10) {
  transform: translate(-20vmin, 12vmin);
}

.analog-clock__number:nth-child(11) {
  transform: translate(-12vmin, 5vmin);
}

.analog-clock__number:nth-child(12) {
  top: 1rem;
  right: 50%;
  transform: translateX(50%);
}

.analog-clock__hand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.analog-clock__hand::before,
.analog-clock__hand::after {
  animation: clock linear infinite;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
  display: block;
  content: '';
  position: absolute;
  background-color: #000;
  margin: 50% 49%;
  transform-origin: 30% top;
}

.analog-clock__hand--hour::after {
  animation-duration: 86400s;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  width: 1.25vmin;
  height: 15vmin;
}

.analog-clock__hand--minute::after {
  animation-duration: 3600s;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 1vmin;
  height: 20vmin;
}

.analog-clock__hand--second::after {
  animation-duration: 60s;
  background-color: red;
  width: 0.35vmin;
  height: 18vmin;
}

.analog-clock__brand {
  font-size: small;
  position: absolute;
  bottom: 25%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: translateX(-50%);
}

@keyframes clock {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
